<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangyuan.userservice.modules.user.mapper.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huangyuan.userservice.modules.user.entity.TUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="eName" property="eName" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="icon" property="icon" />
        <result column="address" property="address" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <select id="listByPage" resultType="com.huangyuan.userservice.modules.user.entity.TUser">
        select * from t_user ${ew.customSqlSegment}
    </select>

    <select id="listExtByPage" resultType="com.huangyuan.userservice.modules.user.entity.TUserExt">
        select *,'hello' as extMsg from t_user ${ew.customSqlSegment}
    </select>
</mapper>
